
  </script>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Maanaim Curitiba </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{usuario}} </a>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li ng-repeat="menu in menus">
                        <a href="#{{menu.link}}"></i>{{menu.desc}}</a>
                    </li>
                    <li>
                        <a href="" ng-click="logout()"></i>Sair</a>
                    <li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                            Sistema de Inscri&ccedil;&atilde;o 
                        </h2>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> /Inicio/Membro
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">

                    <div class="col-lg-8">
                      <h2><img src="img/user.png" alt="novo membro" class="img-thumbnail">&nbsp;Membro da Igreja {{igreja.nomeigreja}}</h2>  
                        <form role="form" name="memberForm">
                                <input ng-model="member.codpessoa" type="hidden" >
                                <input ng-model="member.codmembro" type="hidden">
                                <input ng-model="member.codigreja" type="hidden">
                                <input ng-model="member.status" type="hidden">
                            <span style="color:red">{{member.mensagem}}</span>
                            <div class="form-group">
                                <label>cpf *</label>
                                <input class="form-control" placeholder="CPF - apenas numeros" ng-pattern="/^\d{3}\d{3}\d{3}\d{2}$/"  name="cpf" ng-model="member.cpf" required autofocus ng-blur="findByCpf(member)">
                                <span style="color:red" ng-show="memberForm.cpf.$error.pattern">Erro!(Favor inserir apenas numeros)</span>
                            </div>
                            <div class="form-group">
                                <label>Nome *</label>
                                <input type="text" class="form-control" placeholder="nome do membro" ng-model="member.nome" maxlength="150" required >
                            </div>
                            <div class="form-group">
                                <label>Sexo: *</label>
                                <label class="radio-inline">
                                    <input type="radio" name="sexoRadio" id="sexoRadio1" value="M" ng-model="member.sexo" ng-required="!member.sexo">Masculino
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sexoRadio" id="sexoRadio2" value="F" ng-model="member.sexo" ng-required="!member.sexo">Feminino
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                                <label>Estado civil: *</label>
                                <label class="radio-inline">
                                    <input type="radio" name="ECRadio" id="ECRadio1" value="CASADO" ng-model="member.estadocivil" ng-required="!member.estadocivil" >Casado
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="ECRadio" id="ECRadio2" value="SOLTEIRO" ng-model="member.estadocivil"  ng-required="!member.estadocivil">Solteiro
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="ECRadio" id="ECRadio3" value="VIUVO" ng-model="member.estadocivil"  ng-required="!member.estadocivil">Viuvo
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="ECRadio" id="ECRadio4" value="CONVIVENCIA MUTUA" ng-model="member.estadocivil"  ng-required="!member.estadocivil">Convivencia m&uacute;tua
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="ECRadio" id="ECRadio5" value="DIVORCIADO" ng-model="member.estadocivil"  ng-required="!member.estadocivil">Divorciado
                                </label>
                            </div>
                            <div class="form-inline">
                                <label>Data de nascimento: *</label>
                                <input class="form-control" type="date" name="dtnasc" ng-model="member.datanascimento" required >
                            </div>
                            </br>
                            <div class="form-inline">
                                <label>Identidade: *</label>
                                <input class="form-control" placeholder="documento de identidade" ng-model="member.identidade" maxlength="20" required>&nbsp;&nbsp;|&nbsp;&nbsp;
                                <label>Org&atilde;o Expedidor: *</label>
                                <input class="form-control" placeholder="orgao expedidor" ng-model="member.rgorgaoexpedidor" maxlength="30" required>&nbsp;&nbsp;|&nbsp;&nbsp;
                                <label>Data Expedi&ccedil;&atilde;o: *</label>
                                <input class="form-control" type="date" name="dtrgexp" ng-model="member.rgdataexpedicao" required >
                            </div>
                            </br>
                            <div class="form-group">
                                <label>Tipo Sanguíneo: *</label>
                                <label class="radio-inline">
                                    <input type="radio" name="sangueradio" id="sangueradio1" value="A+" ng-model="member.tiposangue"  ng-required="!member.tiposangue" >A+
                                </label>
                                 <label class="radio-inline">
                                    <input type="radio" name="sangueradio" id="sangueradio2" value="A-" ng-model="member.tiposangue"  ng-required="!member.tiposangue">A-
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sangueradio" id="sangueradio3" value="B+" ng-model="member.tiposangue" ng-required="!member.tiposangue" >B+
                                </label>
                                 <label class="radio-inline">
                                    <input type="radio" name="sangueradio" id="sangueradio4" value="B-" ng-model="member.tiposangue"  ng-required="!member.tiposangue">B-
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sangueradio" id="sangueradio5" value="O+" ng-model="member.tiposangue"  ng-required="!member.tiposangue">O+
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sangueradio" id="sangueradio6" value="O-" ng-model="member.tiposangue"  ng-required="!member.tiposangue">O-
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sangueradio" id="sangueradio7" value="AB+" ng-model="member.tiposangue"  ng-required="!member.tiposangue">AB+
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sangueradio" id="sangueradio8" value="AB-" ng-model="member.tiposangue"  ng-required="!member.tiposangue">AB-
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sangueradio" id="sangueradio9" value="DES" ng-model="member.tiposangue"  ng-required="!member.tiposangue">Desconhecido |
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="doadorRadio" id="doadorRadio1" value="true" ng-model="member.doadorsangue"  ng-required="!member.doador">Doador
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="doadorRadio" id="doadorRadio2" value="false" ng-model="member.doadorsangue"  ng-required="!member.doador" >Não Doador
                                </label>
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <input type="email"class="form-control" name="memberMail" placeholder="e-mail" ng-model="member.email" maxlength="100" >
                                <span style="color:red" ng-show="memberForm.memberMail.$error.email">Erro!(E-mail informado incorretamente)</span>
                            </div>  
                            <div class="form-group">
                                <label>Portador de Necessidades Especiais: *</label>
                                <label class="radio-inline">
                                    <input type="radio" name="pneradio" id="pneradio1" value="true" ng-model="member.pne"  ng-required="!member.pne" >Sim
                                </label>
                                 <label class="radio-inline">
                                    <input type="radio" name="pneradio" id="pneradio2" value="false" ng-model="member.pne" ng-required="!member.pne" >Não
                                </label>
                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                <label>Necessidade Especial :</label>
                                <label class="radio-inline">
                                    <input type="radio" name="pnetiporadio" id="pnetiporadio1" value="SURDO" ng-model="member.tipopne" >Surdo
                                </label>
                                 <label class="radio-inline">
                                    <input type="radio" name="pnetiporadio" id="pnetiporadio2" value="PARALISIA MEMBROS INFERIORES" ng-model="member.tipopne" >Membros inferiores
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="pnetiporadio" id="pnetiporadio3" value="DEFICIENCIA AUDITIVA" ng-model="member.tipopne" >Auditiva
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="pnetiporadio" id="pnetiporadio4" value="DEFICIENCIA VISUAL" ng-model="member.tipopne" > Visual
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="pnetiporadio" id="sangueradio7" value="DEFICIENCIA MOTORA" ng-model="member.tipopne" >Motora
                                </label>
                            </div>
                            <div class="form-inline">
                                <label>Telefone:</label>
                                <input class="form-control" placeholder="numero de telefone" ng-model="member.telefone" maxlength="15" >&nbsp;&nbsp;|&nbsp;&nbsp;
                                <label>Celular:</label>
                                <input class="form-control" placeholder="numero do celular" ng-model="member.celular" maxlength="15" >&nbsp;&nbsp;|&nbsp;&nbsp;
                                <label>Telefone comercial:</label>
                                <input class="form-control" placeholder="telefone comercial" ng-model="member.telcomercial" maxlength="15" >
                            </div>
                            </br>
                            <div class="form-inline">
                                <label>CEP: *</label>
                                <input class="form-control" placeholder="cep" ng-model="member.cep" maxlength="15" required ng-blur="findCep(member)" >&nbsp;&nbsp;|&nbsp;&nbsp;
                                <label>Nr da rua: *</label>
                                <input class="form-control" placeholder="numero da rua" ng-model="member.numerorua" maxlength="15" required >&nbsp;&nbsp;|&nbsp;&nbsp;
                                <label>Complemento:</label>
                                <input class="form-control" placeholder="complemento" ng-model="member.complemento" maxlength="15" >
                            </div>
                            <div class="form-inline">
                                <label>{{member.logradouro}} -  {{member.bairro}} - {{member.cidade}} - {{member.estado}} - {{member.pais}} </label>
                            </div>
                            </br>
                            <div class="form-group">
                                <label>Observa&ccedil;&otilde;es:</label>
                                <input class="form-control" placeholder="Obs" ng-model="member.observacoes" maxlength="300" >
                            </div>
                            <div class="form-group">
                                <label>Profiss&atilde;o:</label>
                                <select class="form-control input-sm" ng-model="member.codprofissao"> <option value="0">-- Escolha a profiss&atilde;o --</option>
                                  <option ng-selected="{{profissao.codprofissao == member.codprofissao}}" ng-repeat="profissao in profissoes" value="{{profissao.codprofissao}}">{{profissao.descprofissao}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Categoria do membro:</label>
                                <select class="form-control input-sm" ng-model="member.codcategoriamembro" required> 
                                  <option value="0">-- Escolha a categoria de membro --</option>
                                   <option ng-selected="{{categoria.codcategoriamembro == member.codcategoriamembro}}" ng-repeat="categoria in categorias" value="{{categoria.codcategoriamembro}}">{{categoria.desccategoriamembro}}</option>
                                </select>
                            </div>
                            <button class="btn btn-primary"  type="submit" ng-click="savemember(member)" ng-disabled="memberForm.$invalid">Salvar dados do membro</button>                            
                        </form>
                    </div>
                </div>
                <!-- /.row -->
			</div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
